nav {
    ul {
        padding: 10px;
    
        li {
            padding-left: 25px;
            font-size: 20px;
        }
    }

    #search {

        
        input {
            padding: 15px;
            border-radius: 0 10px 10px 0;
        } 
    }

    #activity {
        svg {
            margin-left: 30px;
        }
    }
}

main {
    background: url('../../images/Banner.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}